__pycache__
*.pyc
*.egg-info
.venv
dist
build
site
*.png
/buildup_cache.json
/mc_cache.json
/mc_incremental.json
/mc_incremental.thicknesses.json
/photon_fit_dataset.csv
/secondary_photon_fit_dataset.csv
/outputs/
.c*
